<form id="login" method="post">
    <input type="email" name="email" value="" placeholder="email">
    <br><br>
    <input type="password" name="password" value="" placeholder="password">
    <br><br>
    <input type="submit" value="login">
</form>

<script type="text/javascript">
    const formLogin = document.querySelector('#login');
    const formData = new FormData(formLogin);

    formLogin.addEventListener('submit', event => {
        event.preventDefault();
        fetch('/api/v1/user/signin', {
            method: 'POST',
            body: formData
        })
            .then(res => res.json())
            .then(data => {
                localStorage.setItem('token', data.token);
            });
    })

</script>